<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password</title>
  <style>
    body {
      color: #1f1f1f;
      line-height: 20px;
      font-size: 12pt;
      font-family: "Times New Roman", serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 20px;
    }

    .logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-left: 25px;
      margin-right: 25px;
      max-width: 600px;
      margin: 0 auto;
    }

    .logo-container svg {
      max-width: 60px;
    }

    .app-link {
      font-size: 14px;
      text-decoration: none;
      color: #0056d2;
    }

    .container {
      max-width: 600px;
      margin: 30px auto;
      background: #ffffff;
      padding: 20px;
      border-radius: 8px;
    }

    .content {
      margin: 20px 0;
    }

    .button {
      display: block;
      width: fit-content;
      background: #0056d2;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      margin: 20px auto;
    }

    .footer {
      text-align: center;
      font-size: 12px;
      color: #777;
    }
  </style>
</head>

<body>
  <div class="logo-container">
    <!-- Created with Inkscape (http://www.inkscape.org/) -->
    <img src="https://quynhon.ai/_nuxt/icons/icon_64x64.2b34ec.png" alt="Logo">

    <a href="https://qaiscoring.qaidora.com" class="app-link">Go to App</a>
  </div>
  <div class="container">
    <div class="content">
      <h2>New Password</h2>
      <p>Hi, <%= accountName %>
      </p>
      <h3>Your New Password:</h3>
      <p style="font-size: 24px; font-weight: bold; color: #007bff;">
        <%= descriptions %>
      </p>
      <p>Please access to the website and login again.</p>

    </div>
    <div class="footer">
      <p>Thank you,<br />© 2025 Quy Nhon AI. All rights reserved.</p>
    </div>
  </div>

</body>

</html>