<div class="pd-x-3 pd-t-9 pd-b-9">
  <div id="button">
    <h1>Border and shadow</h1>
    <hr />
    <h3>Border</h3>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 font-bold"
    >
      <div class="w-p-2">Class</div>
      <div class="w-p-5">Style</div>
      <div class="w-p-5">Description</div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-2">
        <code>{{ ".border-{$i}" }}</code>
      </div>
      <div class="w-p-5">
        <code>{{ "border-width: {$i}px;" }}</code>
      </div>
      <div class="w-p-5">
        Border width, step $i from 0 to 8 with value from 0px to 8px
      </div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-2">
        <code>border-solid</code>
      </div>
      <div class="w-p-5">
        <code>border-style: solid;</code>
      </div>
      <div class="w-p-5"></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-2">
        <code>border-dashed</code>
      </div>
      <div class="w-p-5">
        <code>border-style: dashed;</code>
      </div>
      <div class="w-p-5"></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-2">
        <code>border-dotted</code>
      </div>
      <div class="w-p-5">
        <code>border-style: dotted;</code>
      </div>
      <div class="w-p-5"></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-2">
        <code>border-double</code>
      </div>
      <div class="w-p-5">
        <code>border-style: double;</code>
      </div>
      <div class="w-p-5"></div>
    </div>
    <h5 class="pd-y-2">
      <span class="text-danger">!IMPORTANT</span> Border color follow border
      color class at page colors
    </h5>
    <h3>Shadow</h3>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 font-bold"
    >
      <div class="w-p-2">Class</div>
      <div class="w-p-5">Style</div>
      <div class="w-p-5">Description</div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-y-2 font-bold"
    >
      <div class="w-p-2"><code>shadow, shadow-primary</code></div>
      <div class="w-p-5"><code>box-shadow: 0px 4px 12px rgba(179, 184, 188, 0.25);</code></div>
      <div class="w-p-5"><span class="shadow w-10 h-10 block bg-white"></span></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-y-2 font-bold"
    >
      <div class="w-p-2"><code>shadow-secondary</code></div>
      <div class="w-p-5"><code>box-shadow:  0px 0px 14px rgba(192, 192, 192, 0.3);</code></div>
      <div class="w-p-5"><span class="shadow-secondary w-10 h-10 block bg-white"></span></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-y-2 font-bold"
    >
      <div class="w-p-2"><code>shadow-tertiary</code></div>
      <div class="w-p-5"><code>box-shadow:  0px 2px 5px rgba(179, 184, 188, 0.15);</code></div>
      <div class="w-p-5"><span class="shadow-tertiary w-10 h-10 block bg-white"></span></div>
    </div>
  </div>
</div>
