<div class="pd-x-3 pd-t-9 pd-b-9">
  <div id="button">
    <h1 ><span ngbTooltip="View evidence" [closeDelay]="50000">General</span></h1>
    <hr />
    <p>
      Breakpoint of responsive will follow bootstrap ver 5. Keywords using for
      breakpoint (res_key): <code><i>blank</i>, sm, md, lg, xl, xxl</code>
    </p>
    <h3>Display</h3>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 font-bold"
    >
      <div class="w-p-4">Class</div>
      <div class="w-p-8">Value</div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>inline</code><code>inline-[res_key]</code></div>
      <div class="w-p-8"><code>display: inline;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>block</code><code>block-[res_key]</code></div>
      <div class="w-p-8"><code>display: block;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>inline-block</code><code>inline-block-[res_key]</code></div>
      <div class="w-p-8"><code>display: inline-block;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>d-none</code><code>d-block-[res_key]</code></div>
      <div class="w-p-8"><code>display: none;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <h4 class="mg-b-0 mg-t-2">Flex</h4>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex</code><code>flex-[res_key]</code></div>
      <div class="w-p-8"><code>display: flex;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>inline-flex</code><code>inline-flex-[res_key]</code></div>
      <div class="w-p-8"><code>display: inline-flex;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-column</code></div>
      <div class="w-p-8"><code>flex-direction: column;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-column-reserve</code></div>
      <div class="w-p-8"><code>flex-direction: column-reserve;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-row</code></div>
      <div class="w-p-8"><code>flex-direction: row;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-row-reserve</code></div>
      <div class="w-p-8"><code>flex-direction: column-reverse;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-grow</code></div>
      <div class="w-p-8"><code>flex-grow: 1;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>justify-start</code></div>
      <div class="w-p-8"><code>justify-content: flex-start;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>justify-center</code></div>
      <div class="w-p-8"><code>justify-content: flex-center;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>justify-end</code></div>
      <div class="w-p-8"><code>justify-content: flex-end;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>justify-around</code></div>
      <div class="w-p-8"><code>justify-content: flex-around;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>justify-between</code></div>
      <div class="w-p-8"><code>justify-content: flex-between;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>align-items-start</code></div>
      <div class="w-p-8"><code>align-items: flex-start;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>align-items-center</code></div>
      <div class="w-p-8"><code>align-items: flex-center;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>align-items-end</code></div>
      <div class="w-p-8"><code>align-items: flex-end;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-wrap</code></div>
      <div class="w-p-8"><code>flex-wrap: wrap;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-nowrap</code></div>
      <div class="w-p-8"><code>flex-wrap: nowrap;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>flex-wrap-reserve</code></div>
      <div class="w-p-8"><code>flex-wrap: wrap-reverse;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4">
        <code>{{ 'gap-{$i}' }}</code>
      </div>
      <div class="w-p-8">
        <code>{{ 'gap: calc(#{$i}* var(--base-space));' }}</code
        ><br />
        i start from 0 to 10 with step is --base-space (4px) -> Max 40px, Min 0
      </div>
    </div>

    <h3 class="mg-t-4">Text align</h3>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 font-bold"
    >
      <div class="w-p-4">Class</div>
      <div class="w-p-8">Value</div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>text-center</code></div>
      <div class="w-p-8"><code>text-align: center;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>text-left</code></div>
      <div class="w-p-8"><code>text-align: left;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>text-right</code></div>
      <div class="w-p-8"><code>text-align: right;</code></div>
    </div>

    <h3 class="mg-t-4">White space</h3>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 font-bold"
    >
      <div class="w-p-4">Class</div>
      <div class="w-p-8">Value</div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>wp-nowrap</code></div>
      <div class="w-p-8"><code>white-space: nowrap;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>wp-break-spaces</code></div>
      <div class="w-p-8"><code>white-space: break-spaces;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>wp-pre</code></div>
      <div class="w-p-8"><code>white-space: pre;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>wp-pre-line</code></div>
      <div class="w-p-8"><code>white-space: pre-line;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>wp-pre-wrap</code></div>
      <div class="w-p-8"><code>white-space: pre-wrap;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>wp-pre-unset</code></div>
      <div class="w-p-8"><code>white-space: pre-unset;</code></div>
    </div>
    <h3 class="mg-t-4">Another</h3>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 font-bold"
    >
      <div class="w-p-4">Class</div>
      <div class="w-p-8">Value</div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>object-fit-cover</code></div>
      <div class="w-p-8"><code>object-fit: cover;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>object-fit-contain</code></div>
      <div class="w-p-8"><code>object-fit: contain;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>transition</code></div>
      <div class="w-p-8"><code>transition: all 300ms;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>absolute</code></div>
      <div class="w-p-8"><code>position: absolute;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>relative</code></div>
      <div class="w-p-8"><code>position: relative;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>fixed</code></div>
      <div class="w-p-8"><code>position: fixed;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>static</code></div>
      <div class="w-p-8"><code>position: static;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>overflow-hidden</code></div>
      <div class="w-p-8"><code>overflow: hidden;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>overflow-scroll</code></div>
      <div class="w-p-8"><code>overflow: scroll;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>overflow-y-auto</code></div>
      <div class="w-p-8"><code>overflow-y: auto;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>overflow-x-auto</code></div>
      <div class="w-p-8"><code>overflow-x: auto;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>pointer</code></div>
      <div class="w-p-8"><code>cursor: pointer;</code></div>
    </div>
    <div
      class="flex justify-start gap-4 border-solid border-gray-5 border-b-1 pd-b-2 pd-t-2"
    >
      <div class="w-p-4"><code>none-list</code></div>
      <div class="w-p-8"><code>list-style: none;</code></div>
    </div>
  </div>
</div>
