.DS_Store
node_modules/
npm-debug.log
package-lock.json
*.log.*
.idea/
dump.rdb
.vscode/
dist
coverage/
.nyc_output/
/nbproject/
yarn.lock
*.log
mongo/data/*
mongo/secrets/*
redis/redis.conf
redis/data/*
rabbitmq/data/*
rabbitmq/rabbitmq_management.conf
/uploads/
.env
docker-compose.yml
private.key
mysql/
postgres_dss/
*.sqlite
flow-data/
Rplots.pdf
