:root {
  // Date range picker
  --date-range-header-color: rgb(var(--steel));
  --dp-bg-color: rgba(var(--blue-5), var(--opacity-bg));
  --dp-active-color: rgb(var(--white));
  --dp-color: rgb(var(--steel));
  --dp-disabled-color: var(--secondary-text-color);
}
