.app-tag {
  --tag-color: rgb(var(--white));
  --tag-border-color: transparent;
  --tag-bg-color: rgb(var(--gray-8));
  &.tag {
    &-info {
      --tag-bg-color: rgb(var(--blue-5));
    }
    &-success {
      --tag-bg-color: rgb(var(--green-7));
    }
    &-warning {
      --tag-bg-color: rgb(var(--yellow-5));
    }
    &-danger {
      --tag-bg-color: rgb(var(--red-5));
    }
    &-late {
      --tag-bg-color: rgb(var(--orange));
    }
  }
  &.type-outline {
    --tag-bg-color: transparent;
    --tag-border-color: rgb(var(--gray-5));
    &.tag {
      &-general {
        --tag-color: rgb(var(--white));
      }
      &-info {
        --tag-color: rgb(var(--blue-3));
        --tag-border-color: rgb(var(--blue-3));
      }
      &-success {
        --tag-color: rgb(var(--green-6));
        --tag-border-color: rgb(var(--green-6));
      }
      &-warning {
        --tag-color: rgb(var(--yellow-5));
        --tag-border-color: rgb(var(--yellow-5));
      }
      &-danger {
        --tag-color: rgb(var(--red-5));
        --tag-border-color: rgb(var(--red-3));
      }
      &-late {
        --tag-color: rgb(var(--orange));
        --tag-border-color: rgba(var(--orange), 0.7);
      }
    }
  }
  &.type-soft {
    --tag-bg-color: rgba(var(--white), 0.1);
    --tag-border-color: transparent;
    &.tag {
      &-general {
        --tag-color: rgb(var(--white));
      }
      &-info {
        --tag-color: rgb(var(--blue-4));
        --tag-bg-color: rgba(var(--blue-5), 0.1);
      }
      &-success {
        --tag-color: rgb(var(--green-6));
        --tag-bg-color: rgba(var(--green-6), 0.2);
      }
      &-warning {
        --tag-color: rgb(var(--yellow-5));
        --tag-bg-color: rgba(var(--yellow-5), 0.2);
      }
      &-danger {
        --tag-color: rgb(var(--red-5));
        --tag-bg-color: rgba(var(--red-5), 0.2);
      }
      &-late {
        --tag-color: rgb(var(--orange));
        --tag-bg-color: rgba(var(--orange), 0.2);
      }
    }
  }
}
