.scoring-table {
  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .btn-action {
    font-size: 15px;

    &.check {
      svg {
        color: blue;
      }
    }

    &.cancel {
      svg {
        color: red;
      }
    }
  }
}

::ng-deep {
  .ant-table-content {
    margin-bottom: 0 !important;
  }

  .ant-table-tbody > tr > td {
    padding: 6px 6px !important;
  }

  .ant-table-cell {
    &.font-semi {
      font-weight: 600;
    }
  }

  .btn-action {
    &.check {
      svg {
        color: blue;
      }
    }

    &.cancel {
      svg {
        color: red;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  @media (min-width: 1335px) {
    .status {
      display: flex;
      flex-direction: row;

      img {
        margin-left: 10px;
      }
    }
  }
}
