*,
:before,
:after {
  border: 0 solid transparent;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}
.sticky {
  position: sticky;
}
.webkit-box {
  display: -webkit-box;
}
// Flex
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reserve {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reserve {
  flex-direction: column-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reserve {
  flex-wrap: wrap-reverse;
}

@for $i from 0 through 10 {
  .gap-#{$i} {
    gap: calc(#{$i} * var(--base-space));
  }
  .z-#{$i} {
    z-index: #{$i};
  }
}

// Text align
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.wp-nowrap {
  white-space: nowrap;
}
.wp-break-spaces {
  white-space: break-spaces;
}
.wp-pre {
  white-space: pre;
}
.wp-pre-line {
  white-space: pre-line;
}
.wp-pre-wrap {
  white-space: pre-wrap;
}
.wp-unset {
  white-space: unset;
}
.object-fit-cover {
  object-fit: cover;
}
.object-fit-contain {
  object-fit: contain;
}

.transition {
  transition: all 300ms;
}

//Position
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

@for $i from 0 through 8 {
  .border-#{$i} {
    border-width: #{$i}px;
  }

  .border-t-#{$i} {
    border-top-width: #{$i}px;
  }

  .border-b-#{$i} {
    border-bottom-width: #{$i}px;
  }

  .border-l-#{$i} {
    border-left-width: #{$i}px;
  }

  .border-r-#{$i} {
    border-right-width: #{$i}px;
  }
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.shadow,
.shadow-primary {
  box-shadow: 0px 4px 20px 4px var(--box-shadow);
}

.shadow-secondary {
  box-shadow: 0px 0px 14px var(--box-shadow-secondary);
}

.shadow-tertiary {
  box-shadow: 0px 2px 5px var(--box-shadow-tertiary);
}

//Overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.min-w-max {
  min-width: max-content;
}

.min-w-min {
  min-width: min-content;
}

.min-w-fit {
  min-width: fit-content;
}

.w-fit {
  width: fit-content;
}

@for $i from 0 through 10 {
  .opacity-#{$i} {
    --opacity: #{$i * 0.1};
  }
}
@for $i from 0 through 10 {
  .opacity-bg-#{$i} {
    --opacity-bg: #{$i * 0.1};
  }
}
.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
  pointer-events: none;
}

.none-list {
  list-style: none;
}
@media (max-width: 575px) {
  .d-sm-none {
    display: none;
  }
}
@media (max-width: 767px) {
  .d-md-none {
    display: none;
  }
}

@for $i from 0 through 10 {
  .top-#{$i} {
    top: calc($i * var(--base-space));
  }
  .bottom-#{$i} {
    bottom: calc($i * var(--base-space));
  }
  .left-#{$i} {
    left: calc($i * var(--base-space));
  }
  .right-#{$i} {
    right: calc($i * var(--base-space));
  }
}
//Order
.order-99 {
  order: 99;
}

@for $i from 0 through 10 {
  .order-#{$i} {
    order: #{$i};
  }
  .order-m-#{$i} {
    order: -#{$i};
  }
}
